<ion-content class="custom-bg">
  <div class="login-container">
    
    <div class="logo-section">
      <div class="logo-box"></div>
      <h1>CHOAYOAPP</h1>
      <p>Premiamos tu fidelidad</p>
    </div>

    <div class="welcome-text">
      <h2>Bienvenido</h2>
      <p>Inicia sesión para continuar</p>
    </div>

    <div class="form-container">
      
      <div class="input-group">
        <ion-icon name="mail-outline"></ion-icon>
        <input type="email" placeholder="Correo electrónico">
      </div>

      <div class="input-group">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input [type]="passwordType" placeholder="Contraseña">
        <ion-icon [name]="passwordIcon" class="eye-icon" (click)="togglePasswordMode()"></ion-icon>
      </div>

      <div class="options">
        <div class="remember">
          <ion-checkbox mode="md"></ion-checkbox>
          <label>Recordarme</label>
        </div>
        <a href="#" class="forgot-pwd">¿Olvidaste tu contraseña?</a>
      </div>

      <button class="main-btn" (click)="ingresar()">Iniciar sesión</button>

      <div class="footer">
        <p>¿No tienes cuenta? <a routerLink="/register">Crear cuenta</a></p>
      </div>

    </div>
  </div>
</ion-content>