<ion-content class="legal-bg">

  <div class="legal-hero">
    <a routerLink="/tabs/perfil" class="back-btn">←</a>

    <p>CHOAYO STORE</p>
    <h2>Términos y Privacidad</h2>
    <span>Información legal y protección de datos personales.</span>
  </div>

  <div class="legal-content">

    <div class="legal-card">
      <h3>Términos y Condiciones</h3>
      <p>
        Al utilizar CHOAYO STORE, el usuario acepta las condiciones relacionadas con el registro, acumulación de puntos, canje de recompensas y uso responsable de la plataforma.
      </p>
    </div>

    <div class="legal-card">
      <h3>Protección de Datos Personales</h3>
      <p>
        CHOAYO STORE respeta la privacidad de sus usuarios y protege sus datos conforme a la Ley N.º 29733, Ley de Protección de Datos Personales del Perú.
      </p>
    </div>

    <div class="legal-card">
      <h3>Uso de la Información</h3>
      <p>
        Los datos se usan para identificar al usuario, gestionar puntos, validar canjes, enviar promociones autorizadas y mejorar la experiencia dentro de la aplicación.
      </p>
    </div>

    <div class="legal-card">
      <h3>Derechos del Usuario</h3>
      <p>
        El usuario puede solicitar actualización, rectificación o eliminación de sus datos personales mediante los canales oficiales de CHOAYO STORE.
      </p>
    </div>

    <div class="legal-card">
      <h3>Recompensas y Puntos</h3>
      <p>
        Los puntos acumulados no tienen valor monetario directo y solo pueden utilizarse dentro del sistema de recompensas de CHOAYO STORE.
      </p>
    </div>

  </div>

</ion-content>